body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.la {
    position: relative;
}
.asd {
    width: 1500px;
    height: auto;
    opacity: 0.5;
    
}
.h1a {
    
    font-size: 73px;
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    font-family: Italic;
}
.h3a {
    font-size: 2rem;
    position: absolute;
    left: 350px;
    top: 230px;
    text-align: bottom;
    padding-bottom: 3rem;
    font-family:italic;
}

  
h2 {
    font-size: 2rem;
    position: absolute;
    left: 100px;
    top: 650px;
    text-align: bottom;
    padding-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    max-width: 1400px;

}
h3{
    font-size: 2rem;
    position: absolute;
    left: 100px;
    text-align: bottom;
    padding-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    top: 1470px;
    max-width: 1400px;
}
.gtt {
    font-size: 3rem;
    position: absolute;
    text-align: center;
    left: 500px;
    top:500px;
    font-weight: 800;
}
.ducks4evr {
    height: auto;
    width: 1500px;
    opacity: 0.4;
}
.EdytoryTekstu{
    font-size: 3rem;
    position: absolute;
    text-align: center;
    left: 360px;
    top: 1300px;
    font-weight: 800;
}
h4{
    font-size: 2rem;
    position: absolute;
    left: 170px;
    top: 1900px;
    max-width: 1200px;
    text-align: bottom;
    padding-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
}
h5{
    font-size: 2rem;
    position:absolute;
    text-align: center;
    max-width: 1350px;
    left:50px;
    top:2200px;
    font-weight: 800;
}
.napewnonietło4{
    width: 1500px;
    height: auto;
    opacity: 0.4;
}
h6{
    font-size: 73px;
    font-family: italic;
    top: 3450px;
    text-align: center;
    position: absolute;
    left:580px ;
}